.products .section-title {
  color: #000;
}

.products .section-label {
  color: #000;
}

.product-card {
  background: #fff;
  display: flex;
  flex-direction: row
}


.product-card__img-wrap {
  width: 420px;
  height: 280px;
  flex-shrink: 0;
  border-radius: var(--radius-lg);
  margin: 18px;
}

.product-card__img {
  height: 100%;
  border-radius: inherit;
}

.product-card__body {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
}

.product-card__name {
  font-size: 20px;
  color: #000;
}

.product-card__desc {
  font-size: 20px;
  color: #000;
}

.product-card__tag {
  color: #fff;
}



@media (max-width: 600px) {
  .product-card {
    flex-direction: column;
  }

  .product-card__img-wrap {
    width: calc(100% - 24px);
    height: 180px;
    margin: 12px 12px 0;
  }
}